@import 'src/shared/styles/colorsVariable';

.button {
  font-size: 13px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border: none;
  background: $purple-200;
  color: $white;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;
  transition: background 0.3s ease;

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    background: $purple-300;
  }
}