@import 'src/shared/styles/mixins';
@import 'src/shared/styles/colorsVariable';

.modal {
  &__darkBackground {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    cursor: default;
    background-color: $gray-100;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 60%;
    max-height: 90%;
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background: $dark-background;
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  &__container {
    background: $dark-background;
  }
}

@media (max-width: 768px) {
  .modal {

    &__wrapper {
      width: 100%;
    }
  }
}
