@import 'src/shared/styles/colorsVariable';

.projectCard {
  height: fit-content;
  max-width: 400px;
  background: $dark-background;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(138, 43, 226, 0.5);
  border-left: 1px solid $purple-700;
  transition: 0.3s ease;

  &_closed {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 3px 10px rgba(191, 137, 241, 0.5);
    border-left: 1px solid $purple-800;
  }

  &__link {
    display: block;
  }

  &__imageContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__infoWrapper {
    padding: 14px;
    text-align: right;
  }

  &__title {
    text-align: left;
    font-size: 20px;
    color: $white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__description {
    text-align: left;
    color: $white;
    font-size: 13px;
  }

  &__status {
    font-size: 16px;
    margin-top: 12px;
    height: 36px;
    display: inline-flex;
    padding: 0 14px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: $gray-900;
    cursor: pointer;

    &_closed {
      background-color: $purple-100;
    }

    &_pending {
      background-color: $yellow;
    }

    &_active {
      background-color: $green;
    }
  }
}

@media (max-width: 1280px) {
  .projectCard {

    &__title {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .projectCard {
    max-width: none;
    width: 100%;

    &__title {
      font-size: 16px;
    }

    &__description {
      font-size: 12px;
    }

    &__infoWrapper {
      padding: 10px;
    }
  }
}