.projectTasks {
  max-width: 1900px;
  margin: 0 auto;

  &__columnsContainer {
    display: flex;
    margin: 0 auto;
  }

  &__backButton {
    font-size: 24px;
    padding: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 1280px) {
  .projectTasks {
    &__columnsContainer {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}