@import 'src/shared/styles/colorsVariable';
@import 'src/shared/styles/mixins';

.projectTasks {
  max-width: 1900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &__backButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}