$white: #ffffff;
$green: #005c2a;
$yellow: #8a7b00;
$turquoise: #006161;
$red: #6a000a;
$blue: #6bffff;

$green-hover: #008a40;
$yellow-hover: #ae9c00;
$turquoise-hover: #009393;
$red-hover: #9a000e;

$purple-100: #2c2f48;
$purple-200: #403b5e;
$purple-300: #4d4481;
$purple-700: #8a2be2;
$purple-800: #c48dff;
$purple-900: #e5ccff;

$gray-100: #181a1b;
$gray-500: #777777;
$gray-700: #b0b0b0;
$gray-900: #e4e4e4;

$dark-background: linear-gradient(135deg, #2a2d3e, #1a1c2b);
