.taskComments {
  font-size: 14px;
  margin-top: 15px;
  padding-left: 10px;
  cursor: auto;

  &__comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background: #2c2f48;
    padding: 6px;
    margin-top: 8px;
    border-radius: 10px;
    border-left: 2px solid #777;
  }

  &__commentReply {
    margin-left: 30px;
  }

  &__replyButton {
    border-radius: 6px;
    height: 18px;
    font-size: 12px;
  }

  &__addCommentButton {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .taskComments {
    font-size: 12px;

    &__comment {
      font-size: 10px;
    }

    &__replyButton {
      border-radius: 6px;
      height: 18px;
      font-size: 10px;
      padding: 0 6px;
    }

    &__addCommentButton {
      height: 24px;
      font-size: 12px;
    }
  }
}