@import 'src/app/ui/colorsVariable';

.task {
  background: $dark-background;
  padding: 14px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(138, 43, 226, 0.5);
  border-left: 1px solid $purple-700;
  transition: 0.3s ease;
  cursor: grab;
  flex: 0 0 33%;
  max-height: fit-content;

  &:hover {
    box-shadow: 0 3px 10px rgba(191, 137, 241, 0.5);
    border-left: 1px solid $purple-800;
  }

  &__titleContainer {
    font-size: 16px;
    color: $purple-900;
    display: flex;
    margin-bottom: 12px;
  }

  &__titileNumber {
    margin-right: 6px;
    min-width: fit-content;
  }

  &__titleTextarea {
    field-sizing: content;
    width: 100%;
    resize: none;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease;
    outline: none;

    &:focus, &:hover {
      background: rgba(192, 132, 252, 0.2);
      border: 1px solid $purple-900;
    }
  }

  &__dates {
    font-size: 12px;
    color: $gray-700;
  }

  &__descriptionNote {
    font-size: 14px;
  }

  &__dropzone {
    font-size: 12px;
    border: 2px dashed $purple-800;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    background: $purple-100;
    margin-bottom: 12px;

    &:hover {
      background: rgba(192, 132, 252, 0.2);
    }
  }

  &__loadedFile {
    font-size: 12px;
  }

  &_done {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .task {
    padding: 8px;

    &__titleContainer {
      font-size: 14px;
    }

    &__dates {
      font-size: 10px;
    }

    &__priority {
      font-size: 12px;
    }

    &__descriptionNote {
      font-size: 12px;
    }

    &__description {
      font-size: 10px;
    }

    &__dropzone {
      font-size: 10px;
    }

    &__loadedFile {
      font-size: 10px;
    }
  }
}

:global {
  .tox-toolbar__primary {
    justify-content: space-between;
  }
}

